In [1]:
a = ["banana", "apple", "microsoft"]

In [2]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [4]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [5]:
b = [20, 10, 5]
for element in b:
    print(element)

20
10
5

In [7]:
b = [20, 10, 5]
for e in b:
    print(e)

20
10
5

In [15]:
b = [20,10, 5]
total = 0
for e in b:
    total = total + e
print(total)

35

In [17]:
# 1, 2, 3, 4

In [21]:
c=list(range(1, 5))

In [22]:
print(c)

[1, 2, 3, 4]

In [23]:
print(list)

<class 'list'>

In [24]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [27]:
total2 = 0
for i in range(1, 5):
    total2 += i
print(total2)

10

In [29]:
range(1, 8)
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [30]:
print(4 % 3)

1

In [31]:
print(5 % 3)

2

In [37]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [32]:
print(5 % 4)

1

In [33]:
print(1 % 3)

1

In [34]:
print(6 % 3)

0

In [39]:
# can you complete all multiple of 3, 5
# thas are less than 100
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [2]:
a = ["banana", "apple", "microsoft"]
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [4]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [6]:
b = [20, 10, 5]
for e in b:
    print(e)

20
10
5

In [7]:
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
print(total)

35

In [8]:
# 1, 2, 3, 4,
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [9]:
c = range(1, 5)
print(c)

range(1, 5)

In [10]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [11]:
total2 = 0
for i in range(1, 5):
    total2 = total2 + i
print(total2)

10

In [13]:
total2 = 0
for i in range(1, 5):
    total2 += i
print(total2)

10

In [14]:
range(1, 8)

range(1, 8)

In [20]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [36]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [37]:
total4 = 0
for i in range(1, 10):
    if i % 3 == 0:
        total += i
print(total3)

9

In [41]:
list(range(1, 100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]